# Week 4 Assignment 
Use this notebook to complete week 4 assignment of the Python Bootcamp for Data course. Each question is described with a Markdown cell explaining the requirements and expectations. Update the corresponding cells and as always, wait until the autograding completes on your GitHub repository 

The variables in the question cells are pre-assigned to `None` so that you can reuse them. The autograding tests uses those variables names to ensure the expected values are present. Do not change the variable names, otherwise a `NameError` will show in the autograding test logs.

In [ ]:
import pandas as pd
import numpy as np

## Question 1
Load the `city_census.csv` dataset in this repo, assign the dataframe to `df1` and manipulate the dataframe so that:
- Only 15 items are present
- Exports to a Python dictionary

Assign the Python dictionary with the 15 items from the dataframe to `df1_dict`

In [ ]:
df1 = pd.read_csv("city_census.csv")

## Question 2

Load the `city_census.csv` dataset again. There are some rows where the `weight` value is `NaN`. Drop those rows from the `dataframe` and assign the resulting value to the `df2` variable. 
Hint: Make sure that the dropped rows are reflected in the dataframe, otherwise the test will fail.

In [ ]:
df2 = pd.read_csv("city_census.csv")

## Question 3

Load the `city_census.csv` dataset again. Manipulate the `dataframe` so that only entries from North Carolina are present. Assign the resulting dataframe to the `df3` variable.

In [ ]:
df3 = pd.read_csv("city_census.csv")

## Question 4

Load the `city_census.csv` dataset again. Manipulate the `dataframe` so that only 20 entries with persons that are over 150 in weight are used. Assign the resulting `dataframe` to the `df4` variable.

In [ ]:
df4 = pd.read_csv("city_census.csv")

## Question 5

Load the `city_census.csv` dataset again. Manipulate the `dataframe` so that it holds anyone that is over 200 in weight from the state of California. Assign the resulting `dataframe` to the `df5` variable.

In [ ]:
df5 = pd.read_csv("city_census.csv")

## Question 6

Manipulate the `dataframe` so that it holds anyone that has a first name that includes the (exact) `"al"` letters. Assign the resulting operation to the `df6` variable.

In [ ]:
df6 = pd.read_csv("city_census.csv")

## Question 7

Create a function to manipulate the `dataframe` so that it updates any `NaN` value from the `weight` columnn to 0. Assign the resulting operation on the `dataframe` to the `df7` variable.

Hint: Use `math.isnan()` to check if a value is `NaN`

In [ ]:
import math

# Hint: use math.isnan function to check if a value is NaN when you create your
# helper function

df7 = pd.read_csv("city_census.csv")

## Question 8

Manipulate the `dataframe` so that it has a new column called `"health_issue"`. This column should have only `1` or `0`. If the person is above `240` in weight, this column should have a `1`. Otherwise a `0`. Assign the resulting operation on the `dataframe` to the `df8` variable.

Hint: first create the `health_issue` column with the matching weight and then use a function to transform the boolean into a 1 or a 0. Don't forget to assign values to new columns!

In [22]:
df8 = pd.read_csv("city_census.csv") 
df8['health_issue'] = df8['weight'] > 240

#df8.query("health_issue == True").head()

def f(value):
    return int(value)


df8['health_issue'] = df8['health_issue'].apply(f)
df8.head(40)

        first       last  age          state  weight  health_issue
0        Earl     Myrick   36           Iowa   208.0             0
1       Vikki   Gallegos   31           Iowa   187.0             0
2   Elizabeth    Binegar   15       Nebraska     NaN             0
3      Edwina     Garcia   53        Arizona   170.0             0
4      Thomas     Hinkle    2        Georgia     NaN             0
5      Martha    Hudgins   31           Utah   227.0             0
6       Danny     Wilson   55           Iowa   205.0             0
7     Beverly    Skinner   67       Missouri   233.0             0
8      Martha      Brown    2       Illinois     NaN             0
9      Ofelia   Williams   82     New Mexico   192.0             0
10  Christina   Jiggetts   15     New Jersey     NaN             0
11    Barbara       Sale   35       Virginia   170.0             0
12      Anita  Everhardt   46         Oregon   157.0             0
13    Clinton     Turner   66        Georgia   208.0             0
14       Judy      Gramm   51  West Virginia   217.0             0
15    William  Mccormick   51           Iowa   148.0             0
16     Louise     Magana   19       Virginia   174.0             0
17       John    Rosales   55      Minnesota   165.0             0
18  Christine       Ware   32     Washington   191.0             0
19    Raymond      Poole    2       Illinois     NaN             0
20       Lois       Ford   29        Vermont   189.0             0
21      Joyce      Sites   64          Texas   211.0             0
22        Dan      Stone   40        Arizona   193.0             0
23      Rosie        Doe   52       New York   222.0             0
24    Lincoln     Bogart   12       New York     NaN             0
25         Jo    Guevara    5        Alabama     NaN             0
26      James   Williams   55       Virginia   208.0             0
27      Linda     Stiles    4       Kentucky     NaN             0
28      Henry     Silmon   77         Oregon   227.0             0
29       Emma   Mcdonald    7       Kentucky     NaN             0
30      Shawn   Anzalone   82       Colorado   243.0             1
31     Thomas       Ford   89        Indiana   142.0             0
32    Barbara        Sam    5   Pennsylvania     NaN             0
33      Kitty       Ford   38          Texas   211.0             0
34     Thomas  Brustmann   77   North Dakota   174.0             0
35      James    Kendall    3    Connecticut     NaN             0
36     Edward      Barbe   56     New Jersey   207.0             0
37      Holly    Britten   70       Delaware   195.0             0
38       Nick  Kittleson   58  West Virginia   239.0             0
39     Edward  Bradfield   52       Michigan   155.0             0

## Question 9

Load the `city_census.csv` dataset again. Manipulate the `dataframe` so that all rows having `"North Carolina"`for state, have `N. Carolina` instead. Assign the resulting operation on the `dataframe` to the `df9` variable.

In [ ]:
df9 = pd.read_csv("city_census.csv")

## Question 10

From the NumPy array below, split in two equal parts and then reduce the resulting arrays by having only values higher than 15.

In [ ]:
array = np.array([18, 11, 8, 33, 23, 42, 82, 11, 8, 7, 1, 23])

# Assign your splits to these variables, remember to reduce them with values only higher than 15
array_split_1 = None
array_split_2 = None